/*GLOBAL STYLES*/

html, body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Times, "sans serif";
	line-height: 2.0;
	box-sizing: border-box;
}

/* Carousel Container */

.carousel-container {
	width: 100vw;
	position: relative;
	margin: auto;
}

/* Hide images by default*/

.slides {
	display: none;
}

.slides > img {
	width: 100vw;
	height: 100vh;
}

/* Caption text */
.slides--text {
  color: #f2f2f2;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0,0,0,0.5),
                 -5px 6px 7px rgba(0,0,0,1),
                 	0px 0px 2px rgba(0, 0, 0, 1);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* CENTERED TEXT OVER PARALLAX IMAGE */

.carousel-container__centered-text {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.carousel-container__centered-text--modifier {
	/*background-color: rgba(55,55,55,.75);*/
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3em;
	padding-left: 2vw;
	padding-right: 2vw;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7),
					0px 0px 2px rgba(0, 0, 0, 1);
}

/* NAVIGATION STYLES*/

.navbar {
	margin-bottom: 0; 
}
.navbar--rotated {
	transform: rotate(-90deg);
	transform-origin: 100% 100%;
	width: 100vh;
	position: fixed;
	right: 100%	;
}

.navbar__item-list {
	list-style-type: none;
	padding: 0;
	background: linear-gradient(to top, rgba(55,55,55,1), rgba(77,77,77, 1));
	box-shadow: 0 5px 5px rgba(0,0,0,.25),
					0 0 1px rgba(44,44,44,.5);
	color: #f1f1f1;
	text-shadow: 0 0 2px rgba(0,0,0,1);
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 0;
	/*fixed navbar style*/
	position: fixed;
	top: 0;
	width: 100vw;
	/*makes navbar flow over text*/
	z-index: 1;
}

.navbar__item-list > li {
	display: inline-block;
	width: auto;
	margin-left: 5vw;
	color: white;
}

.navbar__item {
	text-decoration: none;
	color: white;
}

/* hover grey */

.navbar__item--hover:hover {
	color: #a9a9a9;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	.navbar__item-list {
		max-width: 600px;
	}
}


.grid-container {
	display: grid;
	grid-template-columns: 40px auto auto 40px;
	position: relative;
}

.grid-container-content {
	text-align: justify;
	grid-column-start: 2;
	grid-column-end: 4;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}

.flex-container__img {
	height: 150px;
	width: 150px;
	margin: auto;
	margin-top: 20px;
	margin-left: 5px;
	position: absolute;
	display: inline-block;
}

.grid-container-content_header {
	font-size: 30px;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}

.flex-container__img-container {
	padding: 2px;
	margin: 35px;
	margin-top: 0;
	display: inline-block;
	box-shadow: 1px 1px 2px 3px #979797;
	width: 200px;
	height: 200px;
	position: relative;
	transition: transform 0.3s linear;
}

.flex-container__img-container-text {
	writing-mode: vertical-lr;
	background-color: #7f7fff;
	transform: rotate(180deg);
	vertical-align: middle;
	height: 200px;
	text-align: center;
	margin: 0;
}

.flex-container__img-container-text--modifier {
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.flex-container__img-container:hover .flex-container__img {
	transform: rotate(-90deg);
}

.flex-container__img-container:hover .flex-container__img-container-wrap {
	transform: rotate(90deg);
}

.flex-container__img-container:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {

	.flex-container {
		align-content: space-between;
	}

	.flex-container .flex-container__img-container {
		align-self: center;
	}
}

@media only screen and (max-width: 685px) {

	.flex-container {
		align-content: space-between;
	}

	.flex-container__img-container-text {
		writing-mode: horizontal-tb;
		height: auto;
		vertical-align: none;
		margin: auto;
		transform: none;
		display: block;
	}	
	.grid-container {
		grid-template-columns: auto auto;
	}

	.flex-container__img-container {
		max-width: 175px;
		flex: 0 100%;
	}

	.flex-container .flex-container__img-container {
		align-self: center;
	}

	.flex-container__img-container:hover .flex-container__img {
		transform: none;
	}

	.flex-container__img-container:hover .flex-container__img-container-wrap {
		transform: none;
	}

	.flex-container__img-container:hover {
		transform: none;
	}
}

/*#monsters:hover .navbar {
	transform: rotate(-90deg);
	transform-origin: 100% 100%;
	width: 100vh;
	position: fixed;

}
*/
